[submodule "src/xorg/app/appres"]
	path = src/xorg/app/appres
	url = https://gitlab.freedesktop.org/xorg/app/appres.git
[submodule "src/xorg/app/beforelight"]
	path = src/xorg/app/beforelight
	url = https://gitlab.freedesktop.org/xorg/app/beforelight.git
[submodule "src/xorg/app/bitmap"]
	path = src/xorg/app/bitmap
	url = https://gitlab.freedesktop.org/xorg/app/bitmap.git
[submodule "src/xorg/app/editres"]
	path = src/xorg/app/editres
	url = https://gitlab.freedesktop.org/xorg/app/editres.git
[submodule "src/xorg/app/fonttosfnt"]
	path = src/xorg/app/fonttosfnt
	url = https://gitlab.freedesktop.org/xorg/app/fonttosfnt.git
[submodule "src/xorg/app/fslsfonts"]
	path = src/xorg/app/fslsfonts
	url = https://gitlab.freedesktop.org/xorg/app/fslsfonts.git
[submodule "src/xorg/app/fstobdf"]
	path = src/xorg/app/fstobdf
	url = https://gitlab.freedesktop.org/xorg/app/fstobdf.git
[submodule "src/xorg/app/iceauth"]
	path = src/xorg/app/iceauth
	url = https://gitlab.freedesktop.org/xorg/app/iceauth.git
[submodule "src/xorg/app/ico"]
	path = src/xorg/app/ico
	url = https://gitlab.freedesktop.org/xorg/app/ico.git
[submodule "src/xorg/app/listres"]
	path = src/xorg/app/listres
	url = https://gitlab.freedesktop.org/xorg/app/listres.git
[submodule "src/xorg/app/luit"]
	path = src/xorg/app/luit
	url = https://gitlab.freedesktop.org/xorg/app/luit.git
[submodule "src/xorg/app/mkfontdir"]
	path = src/xorg/app/mkfontdir
	url = https://gitlab.freedesktop.org/xorg/app/mkfontdir.git
[submodule "src/xorg/app/mkfontscale"]
	path = src/xorg/app/mkfontscale
	url = https://gitlab.freedesktop.org/xorg/app/mkfontscale.git
[submodule "src/xorg/app/oclock"]
	path = src/xorg/app/oclock
	url = https://gitlab.freedesktop.org/xorg/app/oclock.git
[submodule "src/xorg/app/quartz-wm"]
	path = src/xorg/app/quartz-wm
	url = https://gitlab.freedesktop.org/xorg/app/quartz-wm.git
[submodule "src/xorg/app/rgb"]
	path = src/xorg/app/rgb
	url = https://gitlab.freedesktop.org/xorg/app/rgb.git
[submodule "src/xorg/app/sessreg"]
	path = src/xorg/app/sessreg
	url = https://gitlab.freedesktop.org/xorg/app/sessreg.git
[submodule "src/xorg/app/setxkbmap"]
	path = src/xorg/app/setxkbmap
	url = https://gitlab.freedesktop.org/xorg/app/setxkbmap.git
[submodule "src/xorg/app/showfont"]
	path = src/xorg/app/showfont
	url = https://gitlab.freedesktop.org/xorg/app/showfont.git
[submodule "src/xorg/app/smproxy"]
	path = src/xorg/app/smproxy
	url = https://gitlab.freedesktop.org/xorg/app/smproxy.git
[submodule "src/xorg/app/twm"]
	path = src/xorg/app/twm
	url = https://gitlab.freedesktop.org/xorg/app/twm.git
[submodule "src/xorg/app/viewres"]
	path = src/xorg/app/viewres
	url = https://gitlab.freedesktop.org/xorg/app/viewres.git
[submodule "src/xorg/app/xauth"]
	path = src/xorg/app/xauth
	url = https://gitlab.freedesktop.org/xorg/app/xauth.git
[submodule "src/xorg/app/xbacklight"]
	path = src/xorg/app/xbacklight
	url = https://gitlab.freedesktop.org/xorg/app/xbacklight.git
[submodule "src/xorg/app/xcalc"]
	path = src/xorg/app/xcalc
	url = https://gitlab.freedesktop.org/xorg/app/xcalc.git
[submodule "src/xorg/app/xclipboard"]
	path = src/xorg/app/xclipboard
	url = https://gitlab.freedesktop.org/xorg/app/xclipboard.git
[submodule "src/xorg/app/xclock"]
	path = src/xorg/app/xclock
	url = https://gitlab.freedesktop.org/xorg/app/xclock.git
[submodule "src/xorg/app/xcmsdb"]
	path = src/xorg/app/xcmsdb
	url = https://gitlab.freedesktop.org/xorg/app/xcmsdb.git
[submodule "src/xorg/app/xcompmgr"]
	path = src/xorg/app/xcompmgr
	url = https://gitlab.freedesktop.org/xorg/app/xcompmgr.git
[submodule "src/xorg/app/xconsole"]
	path = src/xorg/app/xconsole
	url = https://gitlab.freedesktop.org/xorg/app/xconsole.git
[submodule "src/xorg/app/xcursorgen"]
	path = src/xorg/app/xcursorgen
	url = https://gitlab.freedesktop.org/xorg/app/xcursorgen.git
[submodule "src/xorg/app/xditview"]
	path = src/xorg/app/xditview
	url = https://gitlab.freedesktop.org/xorg/app/xditview.git
[submodule "src/xorg/app/xdm"]
	path = src/xorg/app/xdm
	url = https://gitlab.freedesktop.org/xorg/app/xdm.git
[submodule "src/xorg/app/xdpyinfo"]
	path = src/xorg/app/xdpyinfo
	url = https://gitlab.freedesktop.org/xorg/app/xdpyinfo.git
[submodule "src/xorg/app/xedit"]
	path = src/xorg/app/xedit
	url = https://gitlab.freedesktop.org/xorg/app/xedit.git
[submodule "src/xorg/app/xev"]
	path = src/xorg/app/xev
	url = https://gitlab.freedesktop.org/xorg/app/xev.git
[submodule "src/xorg/app/xeyes"]
	path = src/xorg/app/xeyes
	url = https://gitlab.freedesktop.org/xorg/app/xeyes.git
[submodule "src/xorg/app/xfd"]
	path = src/xorg/app/xfd
	url = https://gitlab.freedesktop.org/xorg/app/xfd.git
[submodule "src/xorg/app/xfontsel"]
	path = src/xorg/app/xfontsel
	url = https://gitlab.freedesktop.org/xorg/app/xfontsel.git
[submodule "src/xorg/app/xfs"]
	path = src/xorg/app/xfs
	url = https://gitlab.freedesktop.org/xorg/app/xfs.git
[submodule "src/xorg/app/xfsinfo"]
	path = src/xorg/app/xfsinfo
	url = https://gitlab.freedesktop.org/xorg/app/xfsinfo.git
[submodule "src/xorg/app/xgamma"]
	path = src/xorg/app/xgamma
	url = https://gitlab.freedesktop.org/xorg/app/xgamma.git
[submodule "src/xorg/app/xgc"]
	path = src/xorg/app/xgc
	url = https://gitlab.freedesktop.org/xorg/app/xgc.git
[submodule "src/xorg/app/xhost"]
	path = src/xorg/app/xhost
	url = https://gitlab.freedesktop.org/xorg/app/xhost.git
[submodule "src/xorg/app/xinit"]
	path = src/xorg/app/xinit
	url = https://gitlab.freedesktop.org/xorg/app/xinit.git
[submodule "src/xorg/app/xinput"]
	path = src/xorg/app/xinput
	url = https://gitlab.freedesktop.org/xorg/app/xinput.git
[submodule "src/xorg/app/xkbcomp"]
	path = src/xorg/app/xkbcomp
	url = https://gitlab.freedesktop.org/xorg/app/xkbcomp.git
[submodule "src/xorg/app/xkbevd"]
	path = src/xorg/app/xkbevd
	url = https://gitlab.freedesktop.org/xorg/app/xkbevd.git
[submodule "src/xorg/app/xkbprint"]
	path = src/xorg/app/xkbprint
	url = https://gitlab.freedesktop.org/xorg/app/xkbprint.git
[submodule "src/xorg/app/xkbutils"]
	path = src/xorg/app/xkbutils
	url = https://gitlab.freedesktop.org/xorg/app/xkbutils.git
[submodule "src/xorg/app/xkill"]
	path = src/xorg/app/xkill
	url = https://gitlab.freedesktop.org/xorg/app/xkill.git
[submodule "src/xorg/app/xload"]
	path = src/xorg/app/xload
	url = https://gitlab.freedesktop.org/xorg/app/xload.git
[submodule "src/xorg/app/xlogo"]
	path = src/xorg/app/xlogo
	url = https://gitlab.freedesktop.org/xorg/app/xlogo.git
[submodule "src/xorg/app/xlsatoms"]
	path = src/xorg/app/xlsatoms
	url = https://gitlab.freedesktop.org/xorg/app/xlsatoms.git
[submodule "src/xorg/app/xlsclients"]
	path = src/xorg/app/xlsclients
	url = https://gitlab.freedesktop.org/xorg/app/xlsclients.git
[submodule "src/xorg/app/xlsfonts"]
	path = src/xorg/app/xlsfonts
	url = https://gitlab.freedesktop.org/xorg/app/xlsfonts.git
[submodule "src/xorg/app/xmag"]
	path = src/xorg/app/xmag
	url = https://gitlab.freedesktop.org/xorg/app/xmag.git
[submodule "src/xorg/app/xman"]
	path = src/xorg/app/xman
	url = https://gitlab.freedesktop.org/xorg/app/xman.git
[submodule "src/xorg/app/xmessage"]
	path = src/xorg/app/xmessage
	url = https://gitlab.freedesktop.org/xorg/app/xmessage.git
[submodule "src/xorg/app/xmh"]
	path = src/xorg/app/xmh
	url = https://gitlab.freedesktop.org/xorg/app/xmh.git
[submodule "src/xorg/app/xmodmap"]
	path = src/xorg/app/xmodmap
	url = https://gitlab.freedesktop.org/xorg/app/xmodmap.git
[submodule "src/xorg/app/xmore"]
	path = src/xorg/app/xmore
	url = https://gitlab.freedesktop.org/xorg/app/xmore.git
[submodule "src/xorg/app/xpr"]
	path = src/xorg/app/xpr
	url = https://gitlab.freedesktop.org/xorg/app/xpr.git
[submodule "src/xorg/app/xprop"]
	path = src/xorg/app/xprop
	url = https://gitlab.freedesktop.org/xorg/app/xprop.git
[submodule "src/xorg/app/xrandr"]
	path = src/xorg/app/xrandr
	url = https://gitlab.freedesktop.org/xorg/app/xrandr.git
[submodule "src/xorg/app/xrdb"]
	path = src/xorg/app/xrdb
	url = https://gitlab.freedesktop.org/xorg/app/xrdb.git
[submodule "src/xorg/app/xrefresh"]
	path = src/xorg/app/xrefresh
	url = https://gitlab.freedesktop.org/xorg/app/xrefresh.git
[submodule "src/xorg/app/xscope"]
	path = src/xorg/app/xscope
	url = https://gitlab.freedesktop.org/xorg/app/xscope.git
[submodule "src/xorg/app/xset"]
	path = src/xorg/app/xset
	url = https://gitlab.freedesktop.org/xorg/app/xset.git
[submodule "src/xorg/app/xsetmode"]
	path = src/xorg/app/xsetmode
	url = https://gitlab.freedesktop.org/xorg/app/xsetmode.git
[submodule "src/xorg/app/xsetpointer"]
	path = src/xorg/app/xsetpointer
	url = https://gitlab.freedesktop.org/xorg/app/xsetpointer.git
[submodule "src/xorg/app/xsetroot"]
	path = src/xorg/app/xsetroot
	url = https://gitlab.freedesktop.org/xorg/app/xsetroot.git
[submodule "src/xorg/app/xsm"]
	path = src/xorg/app/xsm
	url = https://gitlab.freedesktop.org/xorg/app/xsm.git
[submodule "src/xorg/app/xstdcmap"]
	path = src/xorg/app/xstdcmap
	url = https://gitlab.freedesktop.org/xorg/app/xstdcmap.git
[submodule "src/xorg/app/xvinfo"]
	path = src/xorg/app/xvinfo
	url = https://gitlab.freedesktop.org/xorg/app/xvinfo.git
[submodule "src/xorg/app/xwd"]
	path = src/xorg/app/xwd
	url = https://gitlab.freedesktop.org/xorg/app/xwd.git
[submodule "src/xorg/app/xwininfo"]
	path = src/xorg/app/xwininfo
	url = https://gitlab.freedesktop.org/xorg/app/xwininfo.git
[submodule "src/xorg/app/xwud"]
	path = src/xorg/app/xwud
	url = https://gitlab.freedesktop.org/xorg/app/xwud.git
[submodule "src/xorg/data/bitmaps"]
	path = src/xorg/data/bitmaps
	url = https://gitlab.freedesktop.org/xorg/data/bitmaps.git
[submodule "src/xorg/data/cursors"]
	path = src/xorg/data/cursors
	url = https://gitlab.freedesktop.org/xorg/data/cursors.git
[submodule "src/xorg/doc/xorg-docs"]
	path = src/xorg/doc/xorg-docs
	url = https://gitlab.freedesktop.org/xorg/doc/xorg-docs.git
[submodule "src/xorg/doc/xorg-sgml-doctools"]
	path = src/xorg/doc/xorg-sgml-doctools
	url = https://gitlab.freedesktop.org/xorg/doc/xorg-sgml-doctools.git
[submodule "src/xorg/driver/xf86-input-void"]
	path = src/xorg/driver/xf86-input-void
	url = https://gitlab.freedesktop.org/xorg/driver/xf86-input-void.git
[submodule "src/xorg/driver/xf86-video-dummy"]
	path = src/xorg/driver/xf86-video-dummy
	url = https://gitlab.freedesktop.org/xorg/driver/xf86-video-dummy.git
[submodule "src/xorg/font/encodings"]
	path = src/xorg/font/encodings
	url = https://gitlab.freedesktop.org/xorg/font/encodings.git
[submodule "src/xorg/font/adobe-100dpi"]
	path = src/xorg/font/adobe-100dpi
	url = https://gitlab.freedesktop.org/xorg/font/adobe-100dpi.git
[submodule "src/xorg/font/adobe-75dpi"]
	path = src/xorg/font/adobe-75dpi
	url = https://gitlab.freedesktop.org/xorg/font/adobe-75dpi.git
[submodule "src/xorg/font/adobe-utopia-100dpi"]
	path = src/xorg/font/adobe-utopia-100dpi
	url = https://gitlab.freedesktop.org/xorg/font/adobe-utopia-100dpi.git
[submodule "src/xorg/font/adobe-utopia-75dpi"]
	path = src/xorg/font/adobe-utopia-75dpi
	url = https://gitlab.freedesktop.org/xorg/font/adobe-utopia-75dpi.git
[submodule "src/xorg/font/adobe-utopia-type1"]
	path = src/xorg/font/adobe-utopia-type1
	url = https://gitlab.freedesktop.org/xorg/font/adobe-utopia-type1.git
[submodule "src/xorg/font/alias"]
	path = src/xorg/font/alias
	url = https://gitlab.freedesktop.org/xorg/font/alias.git
[submodule "src/xorg/font/arabic-misc"]
	path = src/xorg/font/arabic-misc
	url = https://gitlab.freedesktop.org/xorg/font/arabic-misc.git
[submodule "src/xorg/font/bh-100dpi"]
	path = src/xorg/font/bh-100dpi
	url = https://gitlab.freedesktop.org/xorg/font/bh-100dpi.git
[submodule "src/xorg/font/bh-75dpi"]
	path = src/xorg/font/bh-75dpi
	url = https://gitlab.freedesktop.org/xorg/font/bh-75dpi.git
[submodule "src/xorg/font/bh-lucidatypewriter-100dpi"]
	path = src/xorg/font/bh-lucidatypewriter-100dpi
	url = https://gitlab.freedesktop.org/xorg/font/bh-lucidatypewriter-100dpi.git
[submodule "src/xorg/font/bh-lucidatypewriter-75dpi"]
	path = src/xorg/font/bh-lucidatypewriter-75dpi
	url = https://gitlab.freedesktop.org/xorg/font/bh-lucidatypewriter-75dpi.git
[submodule "src/xorg/font/bh-ttf"]
	path = src/xorg/font/bh-ttf
	url = https://gitlab.freedesktop.org/xorg/font/bh-ttf.git
[submodule "src/xorg/font/bh-type1"]
	path = src/xorg/font/bh-type1
	url = https://gitlab.freedesktop.org/xorg/font/bh-type1.git
[submodule "src/xorg/font/bitstream-100dpi"]
	path = src/xorg/font/bitstream-100dpi
	url = https://gitlab.freedesktop.org/xorg/font/bitstream-100dpi.git
[submodule "src/xorg/font/bitstream-75dpi"]
	path = src/xorg/font/bitstream-75dpi
	url = https://gitlab.freedesktop.org/xorg/font/bitstream-75dpi.git
[submodule "src/xorg/font/bitstream-speedo"]
	path = src/xorg/font/bitstream-speedo
	url = https://gitlab.freedesktop.org/xorg/font/bitstream-speedo.git
[submodule "src/xorg/font/bitstream-type1"]
	path = src/xorg/font/bitstream-type1
	url = https://gitlab.freedesktop.org/xorg/font/bitstream-type1.git
[submodule "src/xorg/font/cronyx-cyrillic"]
	path = src/xorg/font/cronyx-cyrillic
	url = https://gitlab.freedesktop.org/xorg/font/cronyx-cyrillic.git
[submodule "src/xorg/font/cursor-misc"]
	path = src/xorg/font/cursor-misc
	url = https://gitlab.freedesktop.org/xorg/font/cursor-misc.git
[submodule "src/xorg/font/daewoo-misc"]
	path = src/xorg/font/daewoo-misc
	url = https://gitlab.freedesktop.org/xorg/font/daewoo-misc.git
[submodule "src/xorg/font/dec-misc"]
	path = src/xorg/font/dec-misc
	url = https://gitlab.freedesktop.org/xorg/font/dec-misc.git
[submodule "src/xorg/font/ibm-type1"]
	path = src/xorg/font/ibm-type1
	url = https://gitlab.freedesktop.org/xorg/font/ibm-type1.git
[submodule "src/xorg/font/isas-misc"]
	path = src/xorg/font/isas-misc
	url = https://gitlab.freedesktop.org/xorg/font/isas-misc.git
[submodule "src/xorg/font/jis-misc"]
	path = src/xorg/font/jis-misc
	url = https://gitlab.freedesktop.org/xorg/font/jis-misc.git
[submodule "src/xorg/font/micro-misc"]
	path = src/xorg/font/micro-misc
	url = https://gitlab.freedesktop.org/xorg/font/micro-misc.git
[submodule "src/xorg/font/misc-cyrillic"]
	path = src/xorg/font/misc-cyrillic
	url = https://gitlab.freedesktop.org/xorg/font/misc-cyrillic.git
[submodule "src/xorg/font/misc-ethiopic"]
	path = src/xorg/font/misc-ethiopic
	url = https://gitlab.freedesktop.org/xorg/font/misc-ethiopic.git
[submodule "src/xorg/font/misc-meltho"]
	path = src/xorg/font/misc-meltho
	url = https://gitlab.freedesktop.org/xorg/font/misc-meltho.git
[submodule "src/xorg/font/misc-misc"]
	path = src/xorg/font/misc-misc
	url = https://gitlab.freedesktop.org/xorg/font/misc-misc.git
[submodule "src/xorg/font/mutt-misc"]
	path = src/xorg/font/mutt-misc
	url = https://gitlab.freedesktop.org/xorg/font/mutt-misc.git
[submodule "src/xorg/font/sun-misc"]
	path = src/xorg/font/sun-misc
	url = https://gitlab.freedesktop.org/xorg/font/sun-misc.git
[submodule "src/xorg/font/util"]
	path = src/xorg/font/util
	url = https://gitlab.freedesktop.org/xorg/font/util.git
[submodule "src/xorg/font/winitzki-cyrillic"]
	path = src/xorg/font/winitzki-cyrillic
	url = https://gitlab.freedesktop.org/xorg/font/winitzki-cyrillic.git
[submodule "src/xorg/font/xfree86-type1"]
	path = src/xorg/font/xfree86-type1
	url = https://gitlab.freedesktop.org/xorg/font/xfree86-type1.git
[submodule "src/xorg/lib/libAppleWM"]
	path = src/xorg/lib/libAppleWM
	url = https://gitlab.freedesktop.org/xorg/lib/libAppleWM.git
[submodule "src/xorg/lib/libFS"]
	path = src/xorg/lib/libFS
	url = https://gitlab.freedesktop.org/xorg/lib/libFS.git
[submodule "src/xorg/lib/libICE"]
	path = src/xorg/lib/libICE
	url = https://gitlab.freedesktop.org/xorg/lib/libICE.git
[submodule "src/xorg/lib/libSM"]
	path = src/xorg/lib/libSM
	url = https://gitlab.freedesktop.org/xorg/lib/libSM.git
[submodule "src/xorg/lib/libX11"]
	path = src/xorg/lib/libX11
	url = https://gitlab.freedesktop.org/xorg/lib/libX11.git
[submodule "src/xorg/lib/libXScrnSaver"]
	path = src/xorg/lib/libXScrnSaver
	url = https://gitlab.freedesktop.org/xorg/lib/libXScrnSaver.git
[submodule "src/xorg/lib/libXTrap"]
	path = src/xorg/lib/libXTrap
	url = https://gitlab.freedesktop.org/xorg/lib/libXTrap.git
[submodule "src/xorg/lib/libXau"]
	path = src/xorg/lib/libXau
	url = https://gitlab.freedesktop.org/xorg/lib/libXau.git
[submodule "src/xorg/lib/libXaw"]
	path = src/xorg/lib/libXaw
	url = https://gitlab.freedesktop.org/xorg/lib/libXaw.git
[submodule "src/xorg/lib/libXaw8"]
	path = src/xorg/lib/libXaw8
	url = https://gitlab.freedesktop.org/xorg/lib/libXaw
[submodule "src/xorg/lib/libXaw3d"]
	path = src/xorg/lib/libXaw3d
	url = https://gitlab.freedesktop.org/xorg/lib/libXaw3d.git
[submodule "src/xorg/lib/libXcomposite"]
	path = src/xorg/lib/libXcomposite
	url = https://gitlab.freedesktop.org/xorg/lib/libXcomposite.git
[submodule "src/xorg/lib/libXcursor"]
	path = src/xorg/lib/libXcursor
	url = https://gitlab.freedesktop.org/xorg/lib/libXcursor.git
[submodule "src/xorg/lib/libXdamage"]
	path = src/xorg/lib/libXdamage
	url = https://gitlab.freedesktop.org/xorg/lib/libXdamage.git
[submodule "src/xorg/lib/libXdmcp"]
	path = src/xorg/lib/libXdmcp
	url = https://gitlab.freedesktop.org/xorg/lib/libXdmcp.git
[submodule "src/xorg/lib/libXevie"]
	path = src/xorg/lib/libXevie
	url = https://gitlab.freedesktop.org/xorg/lib/libXevie.git
[submodule "src/xorg/lib/libXext"]
	path = src/xorg/lib/libXext
	url = https://gitlab.freedesktop.org/xorg/lib/libXext.git
[submodule "src/xorg/lib/libXfixes"]
	path = src/xorg/lib/libXfixes
	url = https://gitlab.freedesktop.org/xorg/lib/libXfixes.git
[submodule "src/xorg/lib/libXfont"]
	path = src/xorg/lib/libXfont
	url = https://gitlab.freedesktop.org/xorg/lib/libXfont.git
[submodule "src/xorg/lib/libXfont2"]
	path = src/xorg/lib/libXfont2
	url = https://gitlab.freedesktop.org/xorg/lib/libXfont
[submodule "src/xorg/lib/libXfontcache"]
	path = src/xorg/lib/libXfontcache
	url = https://gitlab.freedesktop.org/xorg/lib/libXfontcache.git
[submodule "src/xorg/font/schumacher-misc"]
	path = src/xorg/font/schumacher-misc
	url = https://gitlab.freedesktop.org/xorg/font/schumacher-misc.git
[submodule "src/xorg/font/screen-cyrillic"]
	path = src/xorg/font/screen-cyrillic
	url = https://gitlab.freedesktop.org/xorg/font/screen-cyrillic.git
[submodule "src/xorg/font/sony-misc"]
	path = src/xorg/font/sony-misc
	url = https://gitlab.freedesktop.org/xorg/font/sony-misc.git
[submodule "src/xorg/lib/libXft"]
	path = src/xorg/lib/libXft
	url = https://gitlab.freedesktop.org/xorg/lib/libXft.git
[submodule "src/xorg/lib/libXi"]
	path = src/xorg/lib/libXi
	url = https://gitlab.freedesktop.org/xorg/lib/libXi.git
[submodule "src/xorg/lib/libXinerama"]
	path = src/xorg/lib/libXinerama
	url = https://gitlab.freedesktop.org/xorg/lib/libXinerama.git
[submodule "src/xorg/lib/libXmu"]
	path = src/xorg/lib/libXmu
	url = https://gitlab.freedesktop.org/xorg/lib/libXmu.git
[submodule "src/xorg/lib/libXp"]
	path = src/xorg/lib/libXp
	url = https://gitlab.freedesktop.org/xorg/lib/libXp.git
[submodule "src/xorg/lib/libXpm"]
	path = src/xorg/lib/libXpm
	url = https://gitlab.freedesktop.org/xorg/lib/libXpm.git
[submodule "src/xorg/lib/libXpresent"]
	path = src/xorg/lib/libXpresent
	url = https://gitlab.freedesktop.org/xorg/lib/libXpresent.git
[submodule "src/xorg/lib/libXrandr"]
	path = src/xorg/lib/libXrandr
	url = https://gitlab.freedesktop.org/xorg/lib/libXrandr.git
[submodule "src/xorg/lib/libXrender"]
	path = src/xorg/lib/libXrender
	url = https://gitlab.freedesktop.org/xorg/lib/libXrender.git
[submodule "src/xorg/lib/libXres"]
	path = src/xorg/lib/libXres
	url = https://gitlab.freedesktop.org/xorg/lib/libXres.git
[submodule "src/xorg/lib/libXt"]
	path = src/xorg/lib/libXt
	url = https://gitlab.freedesktop.org/xorg/lib/libXt.git
[submodule "src/xorg/lib/libXt-flatnamespace"]
	path = src/xorg/lib/libXt-flatnamespace
	url = https://gitlab.freedesktop.org/xorg/lib/libXt
[submodule "src/xorg/lib/libXtst"]
	path = src/xorg/lib/libXtst
	url = https://gitlab.freedesktop.org/xorg/lib/libXtst.git
[submodule "src/xorg/lib/libXv"]
	path = src/xorg/lib/libXv
	url = https://gitlab.freedesktop.org/xorg/lib/libXv.git
[submodule "src/xorg/lib/libXvMC"]
	path = src/xorg/lib/libXvMC
	url = https://gitlab.freedesktop.org/xorg/lib/libXvMC.git
[submodule "src/xorg/lib/libXxf86dga"]
	path = src/xorg/lib/libXxf86dga
	url = https://gitlab.freedesktop.org/xorg/lib/libXxf86dga.git
[submodule "src/xorg/lib/libXxf86misc"]
	path = src/xorg/lib/libXxf86misc
	url = https://gitlab.freedesktop.org/xorg/lib/libXxf86misc.git
[submodule "src/xorg/lib/libXxf86vm"]
	path = src/xorg/lib/libXxf86vm
	url = https://gitlab.freedesktop.org/xorg/lib/libXxf86vm.git
[submodule "src/xorg/lib/libdmx"]
	path = src/xorg/lib/libdmx
	url = https://gitlab.freedesktop.org/xorg/lib/libdmx.git
[submodule "src/xorg/lib/libfontenc"]
	path = src/xorg/lib/libfontenc
	url = https://gitlab.freedesktop.org/xorg/lib/libfontenc.git
[submodule "src/xorg/lib/libxcb"]
	path = src/xorg/lib/libxcb
	url = https://gitlab.freedesktop.org/xorg/lib/libxcb.git
[submodule "src/xorg/lib/libxcb-cursor"]
	path = src/xorg/lib/libxcb-cursor
	url = https://gitlab.freedesktop.org/xorg/lib/libxcb-cursor.git
[submodule "src/xorg/lib/libxcb-errors"]
	path = src/xorg/lib/libxcb-errors
	url = https://gitlab.freedesktop.org/xorg/lib/libxcb-errors.git
[submodule "src/xorg/lib/libxcb-image"]
	path = src/xorg/lib/libxcb-image
	url = https://gitlab.freedesktop.org/xorg/lib/libxcb-image.git
[submodule "src/xorg/lib/libxcb-keysyms"]
	path = src/xorg/lib/libxcb-keysyms
	url = https://gitlab.freedesktop.org/xorg/lib/libxcb-keysyms.git
[submodule "src/xorg/lib/libxcb-render-util"]
	path = src/xorg/lib/libxcb-render-util
	url = https://gitlab.freedesktop.org/xorg/lib/libxcb-render-util.git
[submodule "src/xorg/lib/libxcb-util"]
	path = src/xorg/lib/libxcb-util
	url = https://gitlab.freedesktop.org/xorg/lib/libxcb-util.git
[submodule "src/xorg/lib/libxcb-wm"]
	path = src/xorg/lib/libxcb-wm
	url = https://gitlab.freedesktop.org/xorg/lib/libxcb-wm.git
[submodule "src/xorg/lib/libxkbfile"]
	path = src/xorg/lib/libxkbfile
	url = https://gitlab.freedesktop.org/xorg/lib/libxkbfile.git
[submodule "src/xorg/lib/libxkbui"]
	path = src/xorg/lib/libxkbui
	url = https://gitlab.freedesktop.org/xorg/lib/libxkbui.git
[submodule "src/xorg/lib/libxshmfence"]
	path = src/xorg/lib/libxshmfence
	url = https://gitlab.freedesktop.org/xorg/lib/libxshmfence.git
[submodule "src/xorg/lib/libxtrans"]
	path = src/xorg/lib/libxtrans
	url = https://gitlab.freedesktop.org/xorg/lib/libxtrans.git
[submodule "src/xorg/lib/pthread-stubs"]
	path = src/xorg/lib/pthread-stubs
	url = https://gitlab.freedesktop.org/xorg/lib/pthread-stubs.git
[submodule "src/xorg/lib/xpyb"]
	path = src/xorg/lib/xpyb
	url = https://gitlab.freedesktop.org/xorg/lib/xpyb.git
[submodule "src/xorg/proto/xcbproto"]
	path = src/xorg/proto/xcbproto
	url = https://gitlab.freedesktop.org/xorg/proto/xcbproto.git
[submodule "src/xorg/proto/xorgproto"]
	path = src/xorg/proto/xorgproto
	url = https://gitlab.freedesktop.org/xorg/proto/xorgproto.git
[submodule "src/xorg/test/rendercheck"]
	path = src/xorg/test/rendercheck
	url = https://gitlab.freedesktop.org/xorg/test/rendercheck.git
[submodule "src/xorg/test/x11perf"]
	path = src/xorg/test/x11perf
	url = https://gitlab.freedesktop.org/xorg/test/x11perf.git
[submodule "src/xorg/test/xhiv"]
	path = src/xorg/test/xhiv
	url = https://gitlab.freedesktop.org/xorg/test/xhiv.git
[submodule "src/xorg/test/xorg-gtest"]
	path = src/xorg/test/xorg-gtest
	url = https://gitlab.freedesktop.org/xorg/test/xorg-gtest.git
[submodule "src/xorg/test/xorg-integration-tests"]
	path = src/xorg/test/xorg-integration-tests
	url = https://gitlab.freedesktop.org/xorg/test/xorg-integration-tests.git
[submodule "src/xorg/test/xts"]
	path = src/xorg/test/xts
	url = https://gitlab.freedesktop.org/xorg/test/xts.git
[submodule "src/xorg/test/xtsttopng"]
	path = src/xorg/test/xtsttopng
	url = https://gitlab.freedesktop.org/xorg/test/xtsttopng.git
[submodule "src/xorg/util/bdftopcf"]
	path = src/xorg/util/bdftopcf
	url = https://gitlab.freedesktop.org/xorg/util/bdftopcf.git
[submodule "src/xorg/util/lndir"]
	path = src/xorg/util/lndir
	url = https://gitlab.freedesktop.org/xorg/util/lndir.git
[submodule "src/xorg/util/macros"]
	path = src/xorg/util/macros
	url = https://gitlab.freedesktop.org/xorg/util/macros.git
[submodule "src/xorg/xserver"]
	path = src/xorg/xserver
	url = https://gitlab.freedesktop.org/xorg/xserver.git
[submodule "src/mesa/mesa"]
	path = src/mesa/mesa
	url = https://gitlab.freedesktop.org/mesa/mesa.git
[submodule "src/mesa/glu"]
	path = src/mesa/glu
	url = https://gitlab.freedesktop.org/mesa/glu.git
[submodule "src/mesa/demos"]
	path = src/mesa/demos
	url = https://gitlab.freedesktop.org/mesa/demos.git
[submodule "src/pixman"]
	path = src/pixman
	url = https://gitlab.freedesktop.org/pixman/pixman
[submodule "src/cairo"]
	path = src/cairo
	url = git://anongit.freedesktop.org/git/cairo
[submodule "src/libpng/libpng12"]
	path = src/libpng/libpng12
	url = git://git.code.sf.net/p/libpng/code
[submodule "src/libpng/libpng14"]
	path = src/libpng/libpng14
	url = git://git.code.sf.net/p/libpng/code
[submodule "src/libpng/libpng15"]
	path = src/libpng/libpng15
	url = git://git.code.sf.net/p/libpng/code
[submodule "src/libpng/libpng16"]
	path = src/libpng/libpng16
	url = git://git.code.sf.net/p/libpng/code
[submodule "src/freeglut"]
	path = src/freeglut
	url = https://github.com/dcnieho/FreeGLUT.git
[submodule "src/xterm"]
	path = src/xterm
	url = https://github.com/ThomasDickey/xterm-snapshots.git
[submodule "src/freetype2"]
	path = src/freetype2
	url = git://git.savannah.gnu.org/freetype/freetype2.git
[submodule "src/fontconfig"]
	path = src/fontconfig
	url = https://gitlab.freedesktop.org/fontconfig/fontconfig.git
[submodule "src/Sparkle"]
	path = src/Sparkle
	url = https://github.com/sparkle-project/Sparkle.git
[submodule "src/xquartz/xserver"]
	path = src/xquartz/xserver
	url = https://github.com/XQuartz/xorg-server.git
[submodule "src/xkeyboard-config"]
	path = src/xkeyboard-config
	url = https://github.com/freedesktop/xkeyboard-config.git
[submodule "src/xorg/driver/xf86-video-nested"]
	path = src/xorg/driver/xf86-video-nested
	url = https://gitlab.freedesktop.org/xorg/driver/xf86-video-nested.git
[submodule "src/Sparkle2x"]
	path = src/Sparkle2x
	url = https://github.com/sparkle-project/Sparkle.git
